.label {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.25rem;
  display: flex;

  &.right {
    text-align: right;
  }

  &.left {
    text-align: right;
  }

  a {
    margin: auto;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 20px;
    color: #0e67ed;
    text-decoration: underline;
    margin-left: 12px;
  }
}
