.instanceInputWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;

  grid-area: content;

  color: white;

  background: linear-gradient(180deg, rgba(53, 55, 64, 0), #353740 58.85%);

  &.hasTree {
    width: calc(100% - 260px);
  }

  .instanceInputToolbar {
    width: 100%;
    display: flex;
    align-items: center;
    place-content: center;
    margin-bottom: 6px;
    gap: 1rem;
  }

  .instanceTextInputWrapper {
    position: relative;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;

    background-color: rgba(64, 65, 79);

    padding-left: 1rem;

    padding-bottom: 0.75rem;
    padding-top: 0.75rem;

    border-radius: 0.375rem;
    border: 1px solid rgba(32, 33, 35, 0.5);

    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;

    max-width: 42rem;

    @media screen and (min-width: 1280px) {
      max-width: 48rem;
    }

    .instanceTemplate {
      max-height: 60vh;
      overflow-y: auto;
      textarea {
        width: calc(100% - 1rem);
        border: none;
        outline: none;
        resize: none;
        padding: 0;
        margin: 0;
        min-height: 60px;

        &::-webkit-scrollbar-thumb {
          visibility: visible;
        }
      }
    }

    .instanceTextArea {
      background-color: transparent;

      padding: 0;
      border-width: 0;

      width: 100%;

      outline: none;

      line-height: 1.5rem;
      font-size: 1rem;
      resize: none;

      padding-right: 1.75rem;

      &::placeholder {
        color: #8e8ea1;
      }

      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }

    button {
      position: absolute;
      right: 0.5rem;
      bottom: 0.75rem;
    }
  }
}
