.button {
  cursor: pointer;

  background: transparent;
  border-collapse: collapse;
  display: inline-flex;

  gap: 0.5rem;
  border-radius: 0.25rem;

  padding: 0.5rem 0.75rem;

  align-items: center;

  background-color: var(--background-color);
  color: var(--font-color);

  border: 1px solid var(--border-color);

  &:hover {
    background-color: rgba(236, 236, 241);

    @media (prefers-color-scheme: dark) {
      color: rgba(217, 217, 227);
      background-color: rgba(64, 65, 79);
    }
  }

  &.success {
    background-color: rgba(16, 163, 127);
    color: white;
    border: transparent;
    &:hover {
      background-color: rgba(26, 127, 100);
      color: white;
    }
  }

  &.danger {
  }
}

.smallIconButton {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0.25rem;

  display: flex;
  align-items: center;

  border: none;

  cursor: pointer;

  background-color: transparent;
  background-image: none;

  text-transform: none;

  color: rgb(197, 197, 210);

  &:hover {
    color: white;
  }
}

.iconButton {
  cursor: pointer;

  background: transparent;
  border-collapse: collapse;
  display: flex;

  border: none;
  gap: 0.5rem;
  border-radius: 0.5rem;

  padding: 0.25rem;

  align-items: center;

  &:hover {
    color: rgba(217, 217, 227);
    background: rgba(64, 65, 79);
  }
}

.sendButton {
  cursor: pointer;
  display: flex;

  color: rgba(142, 142, 160);

  padding: 0.25rem;
  border-radius: 0.375rem;

  border: none;

  background: transparent;
  background-image: none;

  &.disabled {
    cursor: auto;
    opacity: 0.4;
  }

  &:not(.disabled) {
    &:hover {
      background-color: rgba(236, 236, 241);

      @media (prefers-color-scheme: dark) {
        color: rgba(217, 217, 227);
        background-color: rgba(32, 33, 35);
      }
    }
  }
}

.buttonLink {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 20px;
  color: #0e67ed;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
