@font-face {
  font-display: swap;
  font-family: Signifier;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/signifier/signifier-light.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Signifier;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/signifier/signifier-light-italic.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Signifier;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.openai.com/common/fonts/signifier/signifier-bold.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Signifier;
  font-style: italic;
  font-weight: 700;
  src: url(https://cdn.openai.com/common/fonts/signifier/signifier-bold-italic.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-buch.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-buch-kursiv.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-kraftig.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 500;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-kraftig-kursiv.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-halbfett.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-halbfett-kursiv.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-buch.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-halbfett.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-buch-kursiv.woff2)
    format("woff2");
}
