@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: "Roboto", sans-serif;

  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;

  --border-color: hsla(0, 0%, 100%, 0.1);
}

input,
textarea {
  font-family: var(--font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-family: var(--font);
  color: rgb(236, 236, 241);
}

#__next {
  height: 100%;
}

body {
  line-height: inherit;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
