.treeWrapper {
  grid-area: tree;
  overflow: hidden;
  max-width: 360px;
  background: rgb(32, 33, 35);
  overflow: hidden;
  padding: 10px;
  overflow-y: scroll;
  margin: 0;

  &:hover {
    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }

  svg {
    max-width: 100%;
    min-height: calc(100vh - 24px);
    padding: 0;
    margin: 0;
    border: none;
  }
}
