.templateWrapper {
  height: 100vh;
  margin-top: 24px;
}

.templateTitle {
  width: 100%;

  display: flex;

  max-width: 48rem;
  margin: auto;

  padding: 0.35rem;
  border-bottom: 1px solid rgba(32, 33, 35, 0.5);

  input {
    color: white;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    height: 22px;
    line-height: 1.5rem;
    font-size: 1rem;

    &::-webkit-input-placeholder {
      color: rgb(255, 255, 255, 0.7);
    }
  }

  select {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
  }
}

.templateToolbar {
  max-width: 48rem;
  margin: 12px auto;
}

.templateTextInputWrapper {
  position: relative;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;

  background-color: rgba(64, 65, 79);

  padding-left: 1rem;

  padding-bottom: 0.75rem;
  padding-top: 0.75rem;

  border-radius: 0.375rem;
  border: 1px solid rgba(32, 33, 35, 0.5);

  max-width: 48rem;
  margin: auto;

  .templateTextArea {
    background-color: transparent;

    padding: 0;
    border-width: 0;

    min-height: 60vh;

    width: 100%;

    outline: none;

    line-height: 1.5rem;

    font-size: 1rem;
    resize: none;

    padding-right: 1.75rem;

    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
}

.templateBottomBar {
  max-width: 48rem;
  margin: auto;
  display: flex;
  place-content: end;

  margin-top: 1rem;
}
