.instanceWrapper {
  height: 100vh;

  display: grid;

  grid-template-columns: 1fr 360px;
  grid-template-rows: 1fr;
  grid-template-areas: "content git";

  &:has(.instanceChatWrapper:only-child) {
    grid-template-columns: 1fr 0px;
  }

  .instanceChatWrapper {
    height: 100vh;
    position: relative;

    & > :first-child > :first-child {
      margin-bottom: 12rem;
    }

    &:has(> :only-child) {
      & > :first-child > :first-child {
        margin-bottom: 2rem;
      }
    }
  }
}
